version: '3'
services:
  davfesapp:
    build: ./app
    volumes:
      - ./app:/go/src/davfes_app
    ports:
      - "8083:80"
    restart: always
    depends_on:
      - plandb
    environment:
      MYSQL_DB_HOST: plandb
      MYSQL_DB: plan
      MYSQL_PORT: 3306
      MYSQL_USER: observer
      MYSQL_PASSWORD: team-asai
  plandb:
    image: mysql:5.7
    command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci
    ports:
      - "3307:3306"
    restart: always
    volumes:
      # 永続化するときにマウントするdir
      - ./db/mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: eBCXP6f5CWu3t6
      MYSQL_DATABASE: plan
      MYSQL_USER: observer
      MYSQL_PASSWORD: team-asai